<md-list>
    <md-subheader class="md-warn" ng-if="noresults()">No results</md-subheader>
    <md-subheader class="md-no-sticky" ng-if="!noresults()" ng-repeat-start="type in searchTypes">{{ type }}</md-subheader>
    <md-list-item class="md-with-secondary--hover" ng-repeat="result in results[type] | limitTo: 3" ng-click="showPlaylist(result.uri)">
        <p>{{ result.name }}</p>
        <md-icon class="md-secondary material-icons" ng-click="addAndPlay(result.uri)">play_arrow</md-icon>
    </md-list-item>
    
    <md-divider ng-repeat-end></md-divider>

</md-list>
