//external
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://ajax.googleapis.com/ajax/libs/angular_material/0.10.1/angular-material.min.css);
@import url(https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic);
//mixins
@import '~include-media/dist/include-media';
//vars
@import 'styles/vars';
@import 'styles/typography';
//style

html,
body {
    overflow: hidden;
}

body {
    color: $font-color--dark;
    background-color: $background--light;
    display: flex;
    align-items: stretch;
    justify-content: center;
}



#app {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    flex: 1;
    @include media(">=tablet") {
        margin: $half-space;
    }
}

%container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.container,
playlist-container,
playlists-container {
    @extend %container
}

playlists-container {
    md-input-container {
        flex: 1;
        // background-color: rgba(#fff, .1);
        padding: 2px;
        &:not(.md-input-invalid) > md-icon.search {
            color: #fff;
        }
        .md-input {
            color: #fff;
        }
    }
}

search-results {
    md-divider {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.main {
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.browser {
    flex: 1;
}

.player {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
}

.player__content {
    display: flex;
    align-items: center;
}

.player__left {
    flex: 1;
}

.player__middle {}

.player__right {
    flex: 1;
}

.track-desc {
    font-weight: bold;
}

progress-bar {
    display: block;
    position: relative;
    flex: 1;
    height: 5px;
    background-color: pink;
}

.slider {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: -24px;
    margin-left: 0;
    margin-right: 0;
    // padding-left: 4px;
    // padding-right: 4px;
}

.now-playing {
    display: flex;
    background-color: white;
    align-items: center;
}

.now-playing__content {
    padding: 20px;
}

.now-playing__artist {
    display: block;
}

.now-playing__track {
    display: block;
    font-size: 14px;
}

md-icon {
    height: initial;
    width: initial;
}

md-icon .material-icons {
    display: block !important;
}

// Rules for sizing the icon.
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

// Rules for using icons as black on a light background.
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

// Rules for using icons as white on a dark background.
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}
